{% extends 'base.html' %}


{% load static %}

{% block title %}Log In{% endblock title %}

{% block content %}

<h1>Log In</h1>

<form method="POST" class="p-4 shadow-m bg-light text-center">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <input type="submit" class="btn btn-success lg-sm" value="Log In">
</form>
<small class="text-center bg-body-tertiary">Did you forget your password? <a class="btn btn-success lg-sm" href="{% url 'password_reset' %}">Click here</a>to reset it!</a> </small>
    
{% endblock content %}