{% extends 'base.html' %}

{% block title %}Set New Password{% endblock title %}

{% block content %}
<h1>Set a New Password</h1>

{% if validlink %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p}}
<input type="submit" class="btn btn-success" value="Reset Password">
</form>
{% else %}
    <p class="text-danger">The password reset link is invalid or has expired. Please request a new link</p>
    <a href="{% url 'password_reset' %}" class="btn btn-warning">request a new link</a>
{% endif %}

{% endblock content %}
