{% extends 'base.html' %}

{% block title %}Set New Password{% endblock title %}

{% block content %}
<h1 class="fw-bold">Set a New Password</h1>

{% if validlink %}

<form action="" method="POST" class="p-4 shadow-m rounded bg-light text-center">
    {% csrf_token %}

    {#{{form.as_p}}#}
 
    <div class="">{{form.new_password1.label_tag}} </div>
    <div class=""> {{form.new_password1}} </div>
    <div class="">{{form.new_password2.label_tag}} </div>
    <div class=""> {{form.new_password2}} </div>

    {{form.new_password1.help_text}}


    <input type="submit" class="btn btn-success btn-sm" value="Reset Password">
</form>
{% else %}
    <p class="text-danger">The password reset link is invalid or has expired. Please request a new link</p>
    <a href="{% url 'password_reset' %}" class="btn btn-warning">request a new link</a>
{% endif %}

{% endblock content %}
